@model ProjectsLibrary.MVC.Models.Task.AddTaskViewModel

@{
    ViewData["Title"] = "Adding task";

}

<div class="container col-12 py-1">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 header-container rounded-3">
        <div class="row">
            <span class="text-lg-start page-header"><strong>Adding new task</strong></span>
            <span class="text-muted"><strong>Here you can fill out information about the new task that you want to create</strong></span>
        </div>
        <h6 class="text-center mb-0" style="white-space: nowrap;">
            ProjectsLibrary &gt; Tasks &gt; <span class="text-clr-info">Add task</span>
        </h6>
    </div>

    <div class="body-container rounded-3">
        <form asp-action="Add" asp-controller="Tasks" method="post"
              class="w-100 bg-white p-4 shadow-sm rounded-top needs-validation" novalidate>
            <h2 class="mb-3"><strong>Task information</strong></h2>

            <div class="mb-3">
                <label asp-for="Task.Name" class="form-label form-title">Task</label>
                <input asp-for="Task.Name" class="form-control" placeholder="Enter the task..." />
                <span asp-validation-for="Task.Name" class="invalid-feedback d-block"></span>
            </div>

            <div class="d-flex justify-content-between gap-3 mb-3">
                <div style="width: 45%">
                    <label asp-for="Task.ProjectId" class="form-label form-title">Project</label>
                    <select asp-for="Task.ProjectId" class="form-select">
                        <option value="" disabled selected>Please select...</option>
                        @if (Model.SelectedProjectId != null)
                        {
                            @foreach (var company in Model.Projects)
                            {
                                if (company.Id == Model.SelectedProjectId)
                                {
                                    <option value="@company.Id" selected>@company.Name</option>
                                    continue;
                                }
                                <option value="@company.Id">@company.Name</option>
                            }
                        }

                        @foreach (var company in Model.Projects)
                        {
                            <option value="@company.Id">@company.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Task.ProjectId" class="invalid-feedback d-block"></span>
                </div>

                <div style="width: 45%">
                    <label asp-for="Task.Status" class="form-label form-title">Status</label>
                    <select asp-for="Task.Status" class="form-select">
                        <option value="" disabled>Please select...</option>
                        <option value="0" selected>To do</option>
                        <option value="1">In progress</option>
                        <option value="2">Done</option>
                    </select>
                    <span asp-validation-for="Task.Status" class="invalid-feedback d-block"></span>
                </div>
            </div>

            @if (User?.Identity?.IsAuthenticated == true)
            {
                var id = User.FindFirst("employeeId")?.Value ?? "id";
                var name = User.FindFirst("employeeName")?.Value ?? "name";
                var roleString = User.FindFirst("employeeRole")?.Value ?? "role";
                var role = EmployeeRoleExtension.StringToRole(roleString);

                <div class="d-flex justify-content-between gap-3 mb-3">
                    @if (role >= EmployeeRole.Supervisor)
                    {
                        <div style="width: 45%">
                            <label asp-for="Task.CreatorId" class="form-label form-title">Creator</label>
                            <select asp-for="Task.CreatorId" class="form-select">
                                <option value="" disabled selected>Please select...</option>
                                @foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id">@($"{employee.FirstName} {employee.LastName}")</option>
                                }
                            </select>
                            <span asp-validation-for="Task.CreatorId" class="invalid-feedback d-block"></span>
                        </div>

                        <div style="width: 45%">
                            <label asp-for="Task.ExecutorId" class="form-label form-title">Executor</label>
                            <select asp-for="Task.ExecutorId" class="form-select">
                                <option value="" disabled selected>Please select...</option>
                                @foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id">@($"{employee.FirstName} {employee.LastName}")</option>
                                }
                            </select>
                            <span asp-validation-for="Task.ExecutorId" class="invalid-feedback d-block"></span>
                        </div>
                    }
                    else
                    {
                        <div style="width: 45%">
                            <label asp-for="Task.CreatorId" class="form-label form-title">Creator</label>
                            <select asp-for="Task.CreatorId" class="form-select">
                                <option value=@(Convert.ToInt32(id))>@name</option>
                            </select>
                            <span asp-validation-for="Task.CreatorId" class="invalid-feedback d-block"></span>
                        </div>

                        @if (role > EmployeeRole.Employee)
                        {
                            <div style="width: 45%">
                                <label asp-for="Task.ExecutorId" class="form-label form-title">Executor</label>
                                <select asp-for="Task.ExecutorId" class="form-select">
                                    <option value="" disabled selected>Please select...</option>
                                    @foreach (var employee in Model.Employees)
                                    {
                                        <option value="@employee.Id">@($"{employee.FirstName} {employee.LastName}")</option>
                                    }
                                </select>
                                <span asp-validation-for="Task.ExecutorId" class="invalid-feedback d-block"></span>
                            </div>
                        }
                        else
                        {
                            <div style="width: 45%">
                                <label asp-for="Task.ExecutorId" class="form-label form-title">Executor</label>
                                <select asp-for="Task.ExecutorId" class="form-select">
                                    <option value=@(Convert.ToInt32(id))>@name</option>
                                </select>
                                <span asp-validation-for="Task.ExecutorId" class="invalid-feedback d-block"></span>
                            </div>
                        }
                    }
                </div>
            }

            <div class="mb-3">
                <label asp-for="Task.Comment" class="form-label form-title">Comment</label>
                <textarea asp-for="Task.Comment" class="form-control" placeholder="Enter comment here..." style="height: 10rem;"></textarea>
                <span asp-validation-for="Task.Comment" class="invalid-feedback d-block"></span>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button type="reset" class="btn btn-danger mx-2">Reset</button>
                <button type="submit" class="btn btn-primary dt-btn-edit">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ValidStylesCommon" />
}